@import "tailwindcss";

.luminous-trail {
  position: absolute;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.9);
  filter: blur(5px);
  opacity: 0.5;
}
